include ../common/tabs/tabs.pug
include ../common/breads/breads.pug
include ../common/float-blocks/float-blocks.pug

+floatBlocks(6)
.container
    +breads([{name:"Стулья",href:"#"}])
    - 
        const CATEGORY = 'стулья'
        const type =model.filter(c=>c.type.toLowerCase()==='стулья')[0]
        const categories = type.categories
        const roles = categories.map(({role,icon})=>({role, icon}))
    h2.category-title стулья
    +tabs(roles)
    ul.list
        each i, idx in categories
            each item in i.list 
                li.list__item(data-index=i.role, active=idx===0)
                        if(item.img)
                            a.list__href(href="#"+item.id)
                                img(src=i.path+item.img)
                        else 
                            a.list__href(href="#"+item.id)!= catalogItem[i.icon]
                        span= item.name

